.principal1 {   /* cor do título*/
color:  #007e4e;
}
.paragrafo {    /*cor dos paragrafos*/
    color: white;
}
.titulo {     /*cor dos titulos*/
    color:  #61d77a;
}
img{   /*margem da imagem*/
    margin: 15px;
}